<% @cooks.each do |cook| %>
  <h3><%= link_to cook.last_name, cook %></h3>
  <p><%= cook.email %></p>
<% end %>
<h5><%= link_to "New Cook", new_manager_path %></h5>
<h5><%= link_to "Back to Home", root_path %></h5>