<% @users.each do |user| %>
  <h2><%= link_to user.last_name, user %></h2>
  <p><%= user.email %></p>
  
<% end %>
<h5><%= link_to "New User", new_user_path %></h5>
<h5><%= link_to "Back to Home", root_path %></h5>